<!DOCTYPE html>
<html lang="eS">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Xochimilco</title>

	<link rel="stylesheet" href="css/estilo.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">

</head>
<body>
	<div class="contenedor">
	<header>
		<nav>
			<a href=https://www.facebook.com/Xochimilco-I-100918258969805>Facebook</a>
			<a href="https://goo.gl/maps/pPsYGTrXCSFHKRyU9">Dirección</a>		
		</nav>
		<section class="textos-header">
			<h1>XOCHIMILCO</h1>
			<h2>Restaurant Familiar</h2>
		</section>
	</header>
	
	<main>
		<div id="logo"><img src="imagenes/logo_xochimilco.jpg" alt="" width="700px"></div>
		<div class="clearfix"></div>
		
			<div class="contenedor-menu">
				<h3>Disfruta de nuestro exquisito Menú</h3>
				
							<div id="m1">	<h4>TACOS</h4>
								<div class="receta"> 
									
									<a class="mar" href="https://www.cocinacaserayfacil.net/tacos-mexicanos/"><img src="imagenes/tacos.jfif" alt=""></a>
								</div>
							</div>
								
							
							<div id="m2">
								<h4>BURRITOS</h4>
								<div class="receta"> 
									<a class="mar" href="https://www.recetasdeescandalo.com/burritos-mexicanos-con-carne-picada-y-frijoles/"><img src="imagenes/burritos.jfif" alt="" height="200px" width="250px"></a>
								</div>
							
							</div>
					
				
							<div id="m3">
								<h4>ENCHILADAS</h4>
								<div class="receta">
									<a class="mar" href="https://www.recetasgratis.net/receta-de-enchiladas-mexicanas-de-pollo-38145.html"><img src="imagenes/enchiladas.jfif" alt="" width="300px"></a>
								</div>
							</div>
					
						<div id="m4">
							<h4>CHILAQUILES</h4>	
							<div class="receta">
								<a class="mar" href="https://www.cocinavital.mx/recetas/carnes-y-aves/como-hacer-chilaquiles-rojos-pollo-mexicanos/2017/08/"><img src="imagenes/chilaquiles.jfif" alt="" height="225px" width="300px"></a>
							</div>
							
						</div>
						<div id="m5">
							<h4>FLAUTAS</h4>
							<div class="receta">
								<a class="mar" href="https://www.vvsupremo.com/recipe/flautas-de-pollo-y-queso/"><img src="imagenes/flautas.jfif" alt="" height="225px"></a>
							</div>
						
						</div>
							
						
					
				
				
			</div>
	</div>
	</main>
	<footer>
		<div class="contenedor-datos"></div>
			<h4>TELEFONOS</h4>
			<p class="tel1">70788633</p>
			<p class="tel2">7975437</p>
		</div>
	
	</footer>
</body>
</html>
