* {
	margin: 0;
	padding: 0;
	
}

body {
	background: #ee7d14;
}

h1{
	width: 100%;
	margin: 50px;
	font-family: Arial;
	font-size: 80px;
	color: #38f1e2;
	text-align: center;
	text-decoration: underline;
}

h2 {
	width: 100%;
	margin: 30px;
	font-size: 30px;
	color: #000000;
	font-family: 'Lucida Sans';
	text-align: center;
}


.galeria {
	width: 100%;
	display:flex;
	flex-wrap:wrap;
    justify-content:center;
}

.galeria img {
	vertical-align: top;
	width: 500px;
	margin: 30px;
	padding: 5px;
	opacity: 1;
	border: 5px solid #06ff9f;
}

.galeria img:hover {
	border: 5px solid rgb(2, 10, 87);
	opacity: 2;
}