* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Arial, Sans-serif;
	background: #c1aaff;
}

.contenedor1 {
	width: 1300px;
	margin: 50px;
	background: #7fa1e4;
	padding: 50px;
    font-size: 30px;
}

.contenedor2 {
	width: 500px;
	margin: 50px;
	background: #7fa1e4;
	padding: 30px;
    font-size: 20px;
}

.contenedor3 {
	width: 500px;
	margin: 50px;
	background: #7fa1e4;
	padding: 50px;
    font-size: 30px;
}
.contenedor4 {
	width: 400px;
	margin: 50px;
	background: #7fa1e4;
	padding: 50px;
    font-size: 35px;
}

input[type="text"]{
	height: 50px;
	font-size: 22px;
    text-align: center;	
}

.btn {
	width: 60%;
	background: #a994b8;
	color: #000405;
	border:2px solid #000405;
	border-radius: 6PX;
	cursor: pointer;
	font-size: 22px;
	text-align: center;
	padding: 10px;
	display: inline-block;
}

.btn:hover {
	background-color: #58058f;
	color: white;
}


h1 {
    text-align: center;
    font-size: 60px;
    color: rgb(8, 8, 82);
}

h2 {
    text-align: justify;
    margin-left: 30px;
    font-size: 35px;
    color: rgb(50, 1, 105);
}

h3 {	
	text-align: justify;
    margin-left: 50px;
	margin-top: 20px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

